header
{background:#bbbbbb;
padding:20px 0;
}

.caixa {
  position: relative;
  width:940px;
  margin: 0 auto;
}

nav
{position:absolute;
top:110px;
right:0}

nav li
{display: inline;
margin: 0 0 0 15px}

nav a
{ text-transform:uppercase;
color:#000000;
font-weight:bold;
font-size: 22px;
text-decoration: none}

nav a:hover {
color: #848c94;
#text-decoration: underline;#
}

em strong
{
color: red
}

#Barbearia
{ width: 100%}

.principal
{background:#FFFFFF;
padding:30px}

.textobase
{box-sizing: border-box;
border-color: #000000;
border-width: 3px;
 border-style:solid;}

.Beneficios
{text-align:center;
{background:#FFFFFF}
 
 h2
  {font size: 26px;
  padding:30px;
    font-weight:bold}
  
  p
  {font-size: 26px;
  padding:30px;
    font-align: center}
  
  h3
  {font-size: 22px;
  padding:10px;
  font-weight:bolt}
  
  
.listabeneficios
{ display:inline-block;
vertical-align:top;
width:20%;
margin-right:15%;
padding:20px}

.itens
{text-align:left;
font-style: italic;
font-size: 25px;
padding:10px
}

.imagembeneficios
{width:50%}
  
 footer {
 text-align: center;
  background: url(" https://img.freepik.com/vetores-gratis/fundo-preto-com-malha-de-baixo-poli-vermelho-brilhante_1017-20215.jpg ");
  padding: 40px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0}

